/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Сетка*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clear::before,
.clear::after {
    content: "";
    display: table;
}

.clear::after {
    clear: both;
}

.clear {
    clear: both;
    *zoom: 1;
}

.container {
    margin: 0 auto;
    width: 1024px;
}

/*Пользовательский стиль*/
@font-face {
    font-family: "Colaborate-Thin"; 
    src: url(colaborate-thin.ttf); 
}

body {
	background: #fff url("img/bg0.jpg") repeat;
	font: 16px/27px "Colaborate-Thin", Arial, Tahoma, Verdana, sans-serif;
	color: #fff;
}

.bg1 {
	background: url("img/bg1.png") left top no-repeat;
	height: 940px;
	background-size: cover;
	min-width: 1280px;
}

.cloud1 {
	background: url("img/cloud1.png") left top no-repeat;
	height: 882px;
	background-size: cover;
	min-width: 1280px;
}

.cloud2 {
	background: url("img/cloud2.png") left top no-repeat;
	height: 882px;
	background-size: cover;
	min-width: 1280px;
	position: relative;
	z-index: 999;
}
	
a,
a:hover {
    text-decoration: none;
}

/*Меню и логотип*/
@font-face {
    font-family: "AG_Souvenir"; 
    src: url(ag-souvenir.ttf); 
}

nav {
	height: 48px;
	width: 960px;
	background: #4cb2e7;
	position: relative;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-bottom-right-radius: 8px;
	border-bottom-right-radius: 8px;
	margin-left: 4px;
	font: 17px/17px "AG_Souvenir", Arial, Tahoma, Verdana, sans-serif;
}

nav:before {
	content: "";
	height: 0;
	width: 0;
	border-top: 78px solid #4cb2e7;
	border-left: 3px solid transparent;
	position: absolute;
	left: -3px;
}

nav:after {
	content: "";
	height: 0;
	width: 0;
	border-top: 36px solid #4cb2e7; 
	border-right: 954px solid transparent;
	position: absolute;
	top: 48px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

header {
	position: relative;
}

.logo {
	position: absolute;
	left: 25px;
	top: 0;
}

nav ul {
	margin-left: 305px;
	padding-top: 23px;
}
nav li {
	display: inline-block;
}

nav a {
	padding: 10px;
	color: #fff;
}

nav a {
	margin-right: 42px;
}

/*Баннеры, стрелки и online-booking*/
@font-face {
    font-family: "AG_Letterica-Bold-Bold"; 
    src: url(AG-Letterica-Bold-Bold.otf); 
}

@font-face {
    font-family: "AG_Foreigner-Roman-Medium"; 
    src: url(ag-foreigner-romanmedium.ttf); 
}

.online-booking {
	margin-top: 37px;
	position: relative;
}

.banner {
	margin-top: 49px;
}

.left-arrow {
    position: absolute;
	top: 255px;
	left: 20px;
}

.right-arrow {
    position: absolute;
	top: 285px;
	left: 82px;
}

.form-online-booking {
	width: 323px;
	height: 554px;
	border: 7px solid #7ebee0;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	background-color: #299fca;
	float: right;
	margin-right: 26px;
	padding-top: 26px;
	position: relative;
	z-index: 0;
}

.form-online-booking div.legend {
	width: 209px;
	height: 40px;
	background-color: #ded90e;
	-webkit-border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-box-shadow: 1px 1px 5px rgba(18,126,165,0.75);
    -webkit-box-shadow: 1px 1px 5px rgba(18,126,165,0.75);
    box-shadow: 1px 1px 5px rgba(18,126,165,0.75);
	margin-left: -18px;
	font: 21px/21px "AG_Letterica-Bold-Bold", Arial, Tahoma, Verdana, sans-serif;
	padding-top: 12px;
	padding-left: 19px;
}

.triangle {
	height: 25px;
	width: 21px;
	background: transparent;
	position: relative;
	margin-top: -45px;
	margin-left: 191px;
	overflow: hidden;
}

.triangle:after {
	content: "";
    position: absolute;
	width: 17px;
	height: 20px;
	background: #ded90e;
	-moz-transform: skew(-40deg);
	-webkit-transform: skew(-40deg);
	transform: skew(-40deg);
	top: 5px;
	left: -8.8px;
	-moz-box-shadow: 1px 1px 5px rgba(18,126,165,0.75);
    -webkit-box-shadow: 1px 1px 5px rgba(18,126,165,0.75);
    box-shadow: 1px 1px 5px rgba(18,126,165,0.75);
}

.triangle2 {
	height: 25px;
	width: 21px;
	background: transparent;
	position: relative;
	margin-left: 191px;
	overflow: hidden;
}

.triangle2:after {
	content: "";
    position: absolute;
	width: 17px;
	height: 20px;
	background: #ded90e;
	-moz-transform: skew(40deg);
	-webkit-transform: skew(40deg);
	transform: skew(40deg);
	top: 0;
	left: -8.8px;
	-moz-box-shadow: 1px 1px 5px rgba(18,126,165,0.75);
    -webkit-box-shadow: 1px 1px 5px rgba(18,126,165,0.75);
    box-shadow: 1px 1px 5px rgba(18,126,165,0.75);
}

.form-online-booking label,
.form-online-booking input,
.form-online-booking select,
.form-online-booking textarea {
	font-family: "AG_Foreigner-Roman-Medium", Arial, Tahoma, Verdana, sans-serif;
	font-size: 15px;
	line-height: 15px;
	color: #37a5ce;
    height: 31px;
}

.form-online-booking label {
	font-size: 17px;
	line-height: 17px;
	color: #fff;
	text-shadow: -0   -2px 0   #2090B9,
		          0   -2px 0   #2090B9,
		         -0    2px 0   #2090B9,
		          0    2px 0   #2090B9,
		         -2px -0   0   #2090B9,
		          2px -0   0   #2090B9,
		         -2px  0   0   #2090B9,
		          2px  0   0   #2090B9,
		         -1px -2px 0   #2090B9,
		          1px -2px 0   #2090B9,
		         -1px  2px 0   #2090B9,
		          1px  2px 0   #2090B9,
				 -2px -1px 0   #2090B9,
				  2px -1px 0   #2090B9,
			  	 -2px  1px 0   #2090B9,
				  2px  1px 0   #2090B9,
				 -2px -2px 0   #2090B9,
				  2px -2px 0   #2090B9,
				 -2px  2px 0   #2090B9,
				  2px  2px 0   #2090B9,
				 -2px -2px 0   #2090B9,
			   	  2px -2px 0   #2090B9,
				 -2px  2px 0   #2090B9,
				  2px  2px 0   #2090B9;
    display: inline-block;
	margin-bottom: 13px;
	width: 80px;
	text-align: right;
	margin-right: 11px; 
	margin-left: 17px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.form-online-booking input,
.form-online-booking select,
.form-online-booking textarea {
	text-shadow: none;
	border: 3px solid #a7d1e6;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	display: inline-block;
	width: 171px;
	padding: 3px 8px;
}

.form-online-booking .name {
	margin-top: 27px;
}

.form-online-booking textarea {
	height: 57px;
}

.form-online-booking textarea {
	resize: none;
	margin-left: 108px;
	position: absolute;
	top: 230px;
	left: 0;
}	

input.submit-online-booking {
	font-family: "AG_Letterica-Bold-Bold", Arial, Tahoma, Verdana, sans-serif;
    color: #64affc;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 33px;
	width: 97px;
	background: rgba(255,242,3,1);
	background: -moz-linear-gradient(top, rgba(255,242,3,1) 0%, rgba(229,218,16,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,242,3,1)), color-stop(100%, rgba(229,218,16,1)));
	background: -webkit-linear-gradient(top, rgba(255,242,3,1) 0%, rgba(229,218,16,1) 100%);
	background: -o-linear-gradient(top, rgba(255,242,3,1) 0%, rgba(229,218,16,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,242,3,1) 0%, rgba(229,218,16,1) 100%);
	background: linear-gradient(to bottom, rgba(255,242,3,1) 0%, rgba(229,218,16,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff203', endColorstr='#e5da10', GradientType=0 );
	padding: 11px 23px;
	margin-left: 180px;
	cursor: pointer;
	position: absolute;
	top: 300px;
}
	
.online-booking .ladder {
	position: absolute;
	left: 682px;
	top: 295px;
}
